# IDE 配置文件（新增区：把VSCode和IDEA的规则归类到一起）
.vscode
.idea/  # 新增：忽略IntelliJ IDEA/PyCharm的.idea目录及所有子文件

# 前端相关
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# 系统通用规则
__pycache__/
app.egg-info/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.coverage
htmlcov/
.cache/
.venv/
.env

# Mac特有
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

# Windows特有
Thumbs.db
*.tmp
*.bak
.BIN
:Zone.Identifier
*.log

# 业务规则
data/
